@media only screen and (min-width: 1120px) {
  .responsive_flip {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 1120px) {
  .responsive_flip {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1430px) {
  .responsive_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 1420px) {
  .responsive_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 940px) {
  .responsive_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-gap: 20px;
  }
}

html {
  max-width: 1920px;
  margin: 0 auto;
}

body{
  font-family: 'Liberation Sans';
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
}

.bg_forest {
  background-color: #16242d;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.border_radius {
  border-radius: 10px;
}

header {
  color: #16242d;
  padding-top: 200px;
  padding-bottom: 900px;
}

.clouds {
  background: no-repeat;
  background-position: bottom center;
  background-image: url("import/clouds.png");
  background-color: #45bdf1;
}

.forest {
  background: no-repeat;
  background-position: top center;
  background-image: url("import/forest.jpg");
  background-color: #16242d;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0 20px;
}

header p {
  font-size: 24px;
  margin: 0;
  padding: 0 20px 50px 20px;
}

.profile_picture {
  clip-path: circle(125px);
  width: 250px;
  margin-bottom: 20px;
}

.biography {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 24px;
}

.biography h2 {
  margin: 0 auto;
  max-width: 530px;
  padding: 0 20px;
}

.biography p {
  padding: 0 20px;
}

.skills {
  color: #fff;
  padding-top: 650px;
}

.skill_card {
  background-color: #a16a43;
  padding: 50px 10px;
  margin: 30px;
  max-width: 500px;
}

.skill_card h3 {
  font-size: 200%;
}

.skill_card h5 {
  font-size: 150%;
  margin-bottom: 10px;
}

.skill_card p {
  font-size: 120%;
  margin: 0 auto;
  width: 100%;
}

.projects {
  color: #fff;
  padding: 250px 0 150px 0;
}

.project_card {
  display: flex;
  flex-direction: column;
  background-color: #a16a43;
  padding: 20px;
  max-width: 400px;
  height: 300px;
  margin: 30px;
}

.project_title {
  display: flex;
  flex-direction: row;

}

.project_title i {
  font-size: 50px;
}

.project_title span {
  align-self: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
}

.description {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 20px 10px 10px 10px;
  margin: 10px 0 20px 0;
  border-radius: 3px;
  background-color: #2e2416;
  font-size: 20px;
}

.flex {
  margin: auto 0;
}

.flexbox {
  display: inline-flex;
  justify-content: space-between;
  padding: 0 10px;
}

.project_link {
  cursor: pointer;
  color: inherit;
  font-size: 24px;
  text-decoration: none;
  background-color: transparent;
  padding: 0;
  border: hidden;
}

.screenshot {
  display: none;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 0 10em #000;
  max-width: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project_link:focus .screenshot{
  display: inherit;
}

.project_link:focus {
  color: #000;
}

.links {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  margin: 20px auto;
  max-width: 500px;
  padding: 0 30px;
}

.contact {
  color: #fff;
  padding-bottom: 150px;
}

.links a {
  color: inherit;
  text-decoration: none;
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.links span {
  margin-top: 10px;
}

footer {
  color: #fff;
  background-color: #2e2416;
  padding: 10px 0 20px 0;
}

footer p {
  margin: 0;
  padding-top: 10px;
}